{% extends 'base.html' %}


{% block content %}
<header class="masthead bg-index text-white text-center py-4">
  <div class="container d-flex align-items-center flex-column pt-2">
    <h2>Popular Movies</h2>
    <p>Explore the most popular movies available!</p>
  </div>
</header>

<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto text-center mb-3">
        <h1>Welcome to our movie store</h1>
      
          <div class="d-flex flex-column align-items-center">
              <h2>Search for Movies</h2>
              <input type="text" id="search-input" placeholder="Search by title..." class="form-control w-50 me-2" onkeyup="filterMovies()">
          </div>

        <div class="movie-list mt-4">
          {% for movie in movies %}
            <div class="movie-item mb-4">
              <h2 class="movie-title">{{ movie.title }}</h2>
              <p class="movie-overview w-50 mx-auto">{{ movie.overview }}</p>
              <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
    
<script>
  function filterMovies() {
    let input = document.getElementById("search-input").value.toLowerCase();
    let movies = document.querySelectorAll(".movie-item");
    
    movies.forEach(movie => {
      let title = movie.querySelector(".movie-title").textContent.toLowerCase();
      if (title.includes(input)) {
        movie.style.display = "block";
      } else {
        movie.style.display = "none";
      }
    });
  }
</script>
{% endblock content %}    
