{% extends 'base.html' %}

{% block content %}
<div class="container text-center p-3">
  <h1 class="mt-4">Welcome to Our Movie Store!</h1>

  <!-- Search Bar -->
  <div class="d-flex justify-content-center mt-5">
    <input type="text"
           id="search-input"
           placeholder="Search by title..."
           class="form-control"
           style="width: 45%" onkeyup="filterMovies()"
    >
  </div>

  <!-- Movie List -->
  <div class="row mt-5">
    {% for movie in movies %}
      <div class="col-12 col-sm-6 col-md-4 mb-5 px-4 movie-item">
        <div class="card h-100 shadow-lg">
          <a href="{% url 'movies:movie' movie.id %}" class="text-decoration-none text-dark">
            <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
                 class="card-img-top" alt="{{ movie.title }}" style="max-height: 400px">
            <div class="card-body text-center">
              <h5 class="card-title">{{ movie.title }}</h5>
            </div>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


<script>
  function filterMovies() {
    let input = document.getElementById("search-input").value.toLowerCase();
    let movies = document.querySelectorAll(".movie-item");

    movies.forEach(movie => {
      let title = movie.querySelector(".card-title").textContent.toLowerCase();
      movie.style.display = title.includes(input) ? "block" : "none";
    });
  }
</script>
{% endblock content %}