<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width=device-width,initial-scale = 1.0">
    <title> Popular Movies</title>

</head>
    <h1>
        Popular Movies
    </h1>
    <ul>
        {% for movie in movies %}
            <l1>
                <h2>{{ movie.title }}</h2>
                <p>{{ movie.overview }}</p>
                <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
            </l1>
        {%  endfor %}
    </ul>


</html>