{% extends 'base.html' %}
{##}
{#<html lang = "en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name = "viewport" content = "width=device-width,initial-scale = 1.0">#}
{#    <title> Popular Movies</title>#}
{##}
{#</head>#}
{#    <h1>#}
{#        Popular Movies#}
{#    </h1>#}
{#    <ul>#}
{#        {% for movie in movies %}#}
{#            <l1>#}
{#                <h2>{{ movie.title }}</h2>#}
{#                <p>{{ movie.overview }}</p>#}
{#                <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">#}
{#            </l1>#}
{#        {%  endfor %}#}
{#    </ul>#}

{% block content %}
<header class="masthead bg-index text-white text-center py-4">
  <div class="container d-flex align-items-center flex-column pt-2">
    <h2>Popular Movies</h2>
    <p>Explore the most popular movies available!</p>
  </div>
</header>

<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto text-center mb-3">
        <h4>Welcome to our movie store</h4>

          <section>
            <h2>Search for Movies</h2>
            <form action="{% url 'home:movie_list' %}" method="GET">
                <input type="text" name="q" placeholder="Search by title..." required>
                <button type="submit">Search</button>
            </form>
          </section>

        <ul>
          {% for movie in movies %}
            <li>
              <h2>{{ movie.title }}</h2>
              <p>{{ movie.overview }}</p>
              <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock content %}


